body
{
	font-family: 'PT Sans', sans-serif;
}

.container
{
	width: 90%;
	margin: 0 auto;
}

.container table
{
	width: 100%;
	border: 1px solid #ccc;
	    border-spacing: 0;
    border-collapse: collapse;

}

.container table tr td
{
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;

}
.container table tr th
{
	padding: 10px;
	border: 1px solid #ccc;

}

.container table tr td:first-child
{
	text-align: left;
}

.container table tr td:nth-child(3)
{
	text-align: right;
}

.container table tr th:nth-child(3)
{
	text-align: right;
}
